<a href="https://colab.research.google.com/github/qdaajulongbayan01/CPE009A-OOP/blob/main/Concepts_of_OOP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Application 1


1.   Create a Python program that displays the name of three students (Student 1, Student 2, and Student 3) and their term grades
2.   Create a class name Person and attributes - std1, std2, std3, pre, mid, fin
3.   Compute the average of each term grade using Grade() method
4.   Information about student's grades must be hidden from others.

In [59]:
class Person:
  def __init__(self,name,pre,mid,fin):
    self.__name=name
    self.__pre=pre
    self.__mid=mid
    self.__fin=fin
  def Grade(self):
    n=round((self.__pre + self.__mid + self.__fin)/3,2)
    return (f"{self.__name}'s Grade is: "+str(n))
class Student1(Person):
    pass
class Student2(Person):
    pass
class Student3(Person):
    pass

std1=Student1("Jax",50,79,89)
print(std1.Grade())
std2=Student2("Pomni",68,90,95)
print(std2.Grade())
std3=Student3("Agatha",90,93,89)
print(std3.Grade())

Jax's Grade is: 72.67
Pomni's Grade is: 84.33
Agatha's Grade is: 90.67

In [3]:
class Birds:
  def __init__(self, bird_name):
    self.bird_name=bird_name
  def flying_birds(self):
    print(f"{self.bird_name} flies above clouds")
  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

  vulture=Birds("Griffon Vulture")
  crane=Birds("Common Carane")
  emu=Birds("Emu")

  vulture.flying_birds()
  crane.flying_birds()
  emu.non_flying_birds()

Griffon Vulture flies above clouds
Common Carane flies above clouds
Emu is the national bird of the Philippines

In [4]:
class foo:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    return self.a+self.b
foo_object=foo(3,4)
foo_object.add()

7

# Inheritance, Encapsulation, and Creating Multiple Object Names

In [30]:
class RegularPolygon:
  def __init__(self,side):
    self.side=side
class Square(RegularPolygon):
  def area(self):
    return self.side*self.side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side*self.side*0.433
side=RegularPolygon(4)
print(Square.area(side))
print(EquilateralTriangle.area(side))

16
6.928

In [32]:
class RegularPolygon:
  def __init__(self,side):
    self.side=side
  def area(self):
    return self.side*self.side
class Square(RegularPolygon):
  pass

square = Square(5)
square.area()

25