<a href="https://colab.research.google.com/github/qdaajulongbayan01/CPE009A-OOP/blob/main/demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operations and Expressions in Python**

## **Boolean Operators**

- Booleans represent one of two values: True or False
- When you evaluate two values, the Python evalues and returns the Boolean answer:

In [5]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

The bool() function allows you to evaluate any value, and give you True or False in return.

In [4]:
print(bool("Hello"))
print(bool(15))

True
True

Almost any value is evaluated to True if it has some sort of context except for empty space/set.

In [3]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

### **Functions can Return a Boolean**

In [8]:
def myFunction():
  return True

print(myFunction())

True

### **You can execute code based on the Boolean answer of a function:**

In [14]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

### **"You Try!" -- Comparison Operators**

In [10]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

## **Python Operators**

- Operators are used to perform operations on variables and values.

- In the example below, we use the + operator to add together two values:

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5) #Remainder
print(10//3) #FloorDivision
print(10**2) #Exponential

### **Python Bitwise Operators**

- Bitwise operator works on bits and performs bit-by-bit operation. Assume if a=60, and b=13; Now in binary format they will be as follows -

In [25]:
a=60
b=13
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

12
61
49
-61
240
15

***Operator -- Description -- Example***

"&" Binary AND -- Operator copies a bit, to the result, if it exists in both operands -- (a & b) (means 0000 1100)

"|" Binary OR -- It copies a bit, if it exists in either operand. -- (a | b) = 61 (means 0011 1101)

"~" Binary Ones Complement -- It is unary and has the effect of 'flipping' bits. -- (~a) = -61 (means 1100 0011 in 2's complement form due to a signed binary number.)

"<<" Binary Left Shift -- The left operand's value is moved left by the number of bits specified by the right operand. -- a << 2 = 240 (means 1111 0000)

">>" Binary Right Shift -- The left operand's value is moved right by the number of bits specified by the right operand. -- a >> 2 = 15 (means 0000 1111)

### **Python Assignment Operators**

In [ ]:
# x += 3 -- Same As x=x+3
# x -= 3 -- Same As x=x-3
# x *= 3 -- Same As x=x*3
# x /= 3 -- Same As x=x/3
# x %= 3 -- Same As x=x%3

In [29]:
x=1
x+=3
print(x)
x=1
x-=3
print(x)
x=1
x*=3
print(x)
x=1
x/=3
print(x)
x=1
x%=3
print(x)

4
-2
3
0.3333333333333333
1

### **Logical Operators**

***Operator -- Description -- Example***

and Logical AND -- IF both the operands are true then condition becomes true -- (a and b) is False.

or Logical OR -- If any of the two operands are non-zero then condition becomes true -- (a or b) is True.

not Logical NOT -- Used to reverse the logical state of its operand. -- Not(A and b) is True.

In [40]:
y=60
z=13
print(y>z)
print(z>y)
print(y>z and z>y)
print(y>z or z>y)
print(not(y>z and z<y))
print(not(y>z or z<y))

True
False
False
True
False
False

### **Identity Operator**

***Operator -- Description -- Example***

is -- Evaluates to true if the variables on either side of the operator point to the same object and false otherwise. -- x is y, here is results in 1 if id(x) equals id(y)



is not -- Evaluates to false if the variables on either side of the operator point to the same object and true otherwise. -- x is not y, here is not results in 1 if id(x) is not equal to id(y).

In [41]:
print (y is z)
print(y is not z)

False
True

## **Conditional Statement in Python**

- Conditional statements execute sequentially when there is no condition around the statements. If you put some condition for a block of statements, the execution flow may change based on the result evaluated by the condition.

### **Control Structure**

- is a block of programming analyzes variables and chooses a direction in which to go based on a given parameters.

#### **Types of Control Structures**

###### **Python supports the usual logical conditions from mathematics:**

- Equals: a==b
- Not Equals: a!=b
- Less than: a<b
- Less than or equal to: a<=b
- Greater than: a>b
- Greater than or equal to: a>=b

##### **Proceed to demo3.ipynb for the If and etc. statements**

##### **LOOP Statement**

- Loop control statements in Python are used to perform looping operations until the given condition is True. Control comes out of the loop statements once condition becomes False.

###### **Types**

- For loop statement - A FOR loop is used to iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string), similar to while statements, but this statement is to process list in large range of numbers.

###### **Example 1**

In [42]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###### **Example 2 (The break statement)**

In [43]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

###### **Example 3 (The break statement)**

In [48]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

###### **"What if I want to view only THURSDAY?"**

In [50]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

###### **Example 4 (Looping through a string)**

In [44]:
for x in "week":
  print(x)

w
e
e
k

##### **The range() Function**

- To loop through a set of code a specified number of times, we can use the range() function.

- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default) and ends at a specified number.

**Example:**

In [47]:
for x in range(6):
  print(x)
print(" ")
for x in range(2,6): # syntax: range(<starting number>, <increment>, <limit>)
  print(x)

0
1
2
3
4
5

2
3
4
5

##### **Nested Loops**

In [51]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#### **While Loop**

##### **Example 5**

In [53]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

##### **Example 6**

In [52]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

##### **Example 7**

In [54]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6